:root {
    --bg-color: #0D1B2A;
    --main-color: #E0E1DD;
    --font: 'Chakra Petch', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    color: var(--main-color);
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 2.3rem;
    font-weight: 700;
    margin: 1rem;
}

button {
    border: 0.2rem solid var(--main-color);
    border-radius: 0.5rem;
    cursor: pointer;
}

button:hover {
    color: white;
}

.menu-btn {
    width: 12rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    background: var(--bg-color);
}

#game {
    max-width: 100vw;
    max-height: 100vh;
    background: var(--bg-color);
}

.screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-screen {
    position: absolute;
    top: 3rem;
    left: 3rem;
    right: 3rem;
    width: calc(100vw - 6rem);
    display: none;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    padding: 0.75rem 1rem;
    border: 0.2rem solid var(--main-color);
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    z-index: 10;
}

.score-heading {
    font-size: initial;
}

#game-info-card {
    min-width: 11.4rem;
}

#pause-btn {
    height: fit-content;
    padding: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

#pause-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
}

#pause-screen-menu {
    padding: 0.75rem 1rem;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

#game-over-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
}

#game-over-screen-menu {
    padding: 0.75rem 1rem;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

#lives-count {
    letter-spacing: 5px;
}

input[type="text"] {
    background: none;
    border: none;
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color);
    font-size: 1.25rem;
    outline: none;
    padding: 0.2rem;
    margin: 0.5rem 0 1rem 0;
    text-align: center;
}