* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#game {
    display: block;
    max-width: 100vw;
    max-height: 100vh;
}